Thumbs.db
.DS_Store
.idea
.vscode
.README.md

.reasonix
.deveco
.mimocode
.trae

tmp
bin
dist

node_modules
target

vscode-nolang/server/lsp
vscode-nolang/server/lsp.exe
src/no
/src/no_lang
/no
/nolang
